# JetBrains IDE 下载地址
# IntelliJ IDEA Ultimate 2024 (默认)
IDE_DOWNLOAD_URL=https://download.jetbrains.com/idea/ideaIU-2024.3.1.1.tar.gz

# PyCharm Professional 2024
# IDE_DOWNLOAD_URL=https://download.jetbrains.com/python/pycharm-professional-2024.3.1.1.tar.gz

# WebStorm 2024
# IDE_DOWNLOAD_URL=https://download.jetbrains.com/webstorm/WebStorm-2024.3.1.1.tar.gz

# GoLand 2024
# IDE_DOWNLOAD_URL=https://download.jetbrains.com/go/goland-2024.3.1.1.tar.gz

# CLion 2024
# IDE_DOWNLOAD_URL=https://download.jetbrains.com/cpp/CLion-2024.3.1.1.tar.gz

# VNC 密码 (至少6位)
VNC_PASSWORD=idea123

# 端口配置
GATEWAY_PORT=6080

# VNC 直连端口 (VNC客户端连接)
VNC_PORT_USER1=5901  # 可莉的工作区
VNC_PORT_USER2=5902  # 纳西妲的工作区
